<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Naslovna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <section class="tablica">
        <div class="tablica_container">
        <h2 class="tablica_title">Berba</h2>
            <div class="tablica_navbar">
                <button class="tablica_nav-button" id="addBtn" data-url='/dodaj_berbu_forma'>Dodaj novi unos</button>
                <button class="tablica_nav-button" id="editBtn">Uredi</button>
            </div>

            <table class="tablica_table">
                <thead>
                    <tr>
                        <th>Naziv vina</th>
                        <th>Godina berbe</th>
                        <th>Postotak alkohola</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in berba %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3">Nema podataka.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</body>

</html>