<!DOCTYPE html>
<html lang="hr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <title>Naslovna</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>


<body>
  <section class="tablica">
    <div class="tablica_container">
      <h2 class="tablica_title">Dobavljač</h2>
      <div class="tablica_navbar">

      
        <div class="dropdown-container">

          <div class="dropdown">
            <ul>
              <li><a href="#" class="dropdown-item">Po nazivu</a></li>
              <li><a href="#" class="dropdown-item">Po adresi</a></li>
            </ul>
          </div>
        </div>

        <button class="zaposlenik_nav-button" id="addEmployeeBtn" onclick="window.location.href = '/dodaj_dobavljaca_forma'">
          Dodaj dobavljača
        </button>
        <button class="zaposlenik_nav-button" onclick="window.location.href = '/edit_dobavljaca'">
          Uredi/Obriši
        </button>

      </div>
      <table class="tablica_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>OIB</th>
          </tr>
        </thead>
        <tbody>
          {% for row in dobavljac %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6">Nema podataka.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>