<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Naslovna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <section class="proizvod">
      <div class="proizvod_container">
        <div class="proizvod_navbar">
          <button class="proizvod_nav-button" id="addEmployeeBtn">
            Dodaj dobavljača
          </button>
          <button class="proizvod_nav-button" id="editDeleteBtn">
            Uredi/Obriši
          </button>
          <div class="dropdown-container">
            <button class="proizvod_nav-button dropdown-toggle" id="sortBtn">
              Sortiraj
            </button>
            <div class="dropdown">
              <ul>
                <li><a href="#" class="dropdown-item">Po nazivu</a></li>
                <li><a href="#" class="dropdown-item">Po adresi</a></li>
              </ul>
            </div>
          </div>
        </div>

        <table class="proizvod_table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Naziv</th>
              <th>Adresa</th>
              <th>Email</th>
              <th>Telefon</th>
              <th>OIB</th>
            </tr>
          </thead>
          <tbody>
            {% for row in dobavljac %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="6">Nema podataka.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
