<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Naslovna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <form method="POST" action="{{ url_for('dodaj_berbu') }}">
    <label for="id_vino" class="label">Vino:</label>
    <select name="id_vino" class="input-large" required>
        <option disabled selected value> -- select an option -- </option>

        {% for vino in vina %}
            <option value="{{ vino[0] }}">{{ vino[1] }}</option>
        {% endfor %}
    </select>
    <br>

    <label for="godina_berbe" class="label">Godina berbe:</label>
    <input type="number" name="godina_berbe" required>
    <br>

    <label for="postotak_alkohola" class="label">Postotak alkohola:</label>
    <input type="number" step="0.01" name="postotak_alkohola" required>
    <br>

    <button type="submit">Dodaj berbu</button>
    </form>


</body>

</html>