<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Naslovna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <section class="tablica">
      <div class="tablica_container">
        <div class="tablica_navbar">
          <button class="tablica_nav-button" id="addEmployeeBtn">
            Dodaj zahtjev
          </button>
          <button class="tablica_nav-button" id="editDeleteBtn">
            Uredi/Obriši
          </button>
          <div class="dropdown-container">
            <button class="tablica_nav-button dropdown-toggle" id="sortBtn">
              Sortiraj
            </button>
            <div class="dropdown">
              <ul>
                <li>
                  <a href="#" class="dropdown-item">Po ID-ju skladišta</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item">Po ID-ju proizvoda</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item">Po datumu </a>
                </li>
                <li>
                  <a href="#" class="dropdown-item">Po tipu transakcije</a>
                </li>
                <li>
                  <a href="#" class="dropdown-item">Po količini</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <table class="tablica_table">
          <thead>
            <tr>
              <th>ID</th>
              <th>ID proizvoda</th>
              <th>Datum zahtjeva</th>
              <th>Tip Transakcije</th>
              <th>Kolicina</th>
              <th>Lokacija</th>
            </tr>
          </thead>
          <tbody>
            {% for row in skladiste_proizvod %}
            <tr>
              <td>{{ row[0] }}</td>
              <td>{{ row[1] }}</td>
              <td>{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
            </tr>
            {% else %}
            <tr>
              <td colspan="6">Nema podataka.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
