<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Naslovna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <section class="tablica">
        <div class="tablica_container">
        <h2 class="tablica_title">Stavke narudžbi</h2>

            <table class="tablica_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID_zahtjev za narudžbu</th>
                        <th>Proizvod</th>
                        <th>Količina</th>
                        <th>Iznos stavke</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in stavka_narudzbe %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">Nema podataka.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</body>

</html>