<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Vino</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>

    <section class="kupac">
        <div class="kupac_container">
            <h2 class="tablica_title">Vino</h2>
            <div class="kupac_navbar">
                <button class="kupac_nav-button" id="addEmployeeBtn">Dodaj vino</button>
                <button class="kupac_nav-button" id="editDeleteBtn">Uredi/Obriši</button>
                <div class="dropdown-container">
                    <button class="kupac_nav-button dropdown-toggle" id="sortBtn">Sortiraj</button>
                    <div class="dropdown">
                        <ul>
                            <li><a href="#" class="dropdown-item">Po imenu</a></li>
                            <li><a href="#" class="dropdown-item">Po prezimenu</a></li>
                            <li><a href="#" class="dropdown-item">Po odjelu</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <table class="kupac_table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Naziv</th>
                        <th>Vrsta</th>
                        <th>Sorta</th>                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in vino %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>                        
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">Nema podataka.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

</body>

</html>