<footer class="footer">
    <div class="footer-container">
        <div class="footer-about">
        </div>
        <div class="footer-links">
            <h3>Brzi Linkovi</h3>
            <ul>
                <li><a href="#home">Početna</a></li>
                <li><a href="#about">O Nama</a></li>
                <li><a href="#services">Usluge</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p><a href="#terms">Projek baza podataka 2</a> | <a href="#privacy"></a></p>
    </div>
</footer>