<header class="header" id="navbar">
    <a class="header__logo" href="index.html"><i class="fas fa-cogs" style="margin-right: 10px;"></i> Sustav upravljanja
        poslovnim procesima</a>
    <nav class="header__navbar">
        <a href="{{ url_for('home') }}" target="outer-content-frame" class="header__navbar__item">Početna</a>
        <a href="about.html" class="header__navbar__item">O projektu</a>
        <a href="products.html" class="header__navbar__item">Izrada</a>
        <a href="contact.html" class="header__navbar__item">Dokumentacija</a>

    </nav>
</header>