<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Naslovna</title>
</head>

<body>

    {% include 'header.html' %}

    <div class="main-container">
        <div class="inner-container">
            <nav class="inner-nav">
                <ul>
                    <li><a href="{{ url_for('zaposlenik') }}" target="outer-content-frame" class="nav-button"><i
                                class="fas fa-user"></i> Zaposlenik</a></li>
                    <li><a href="{{ url_for('kupac') }}" target="outer-content-frame" class="nav-button"><i
                                class="fas fa-users"></i> Kupac</a></li>
                    <li><a href="{{ url_for('prijevoznik') }}" target="outer-content-frame" class="nav-button"><i
                                class="fas fa-users"></i> Prijevoznik</a></li>
                    <li><a href="{{ url_for('proizvod') }}" target="outer-content-frame" class="nav-button"><i
                                class="fas fa-users"></i> Proizvodi</a></li>
                    <a href="#" class="nav-button" id="zahtjeviBtn">
                        <i class="fas fa-tasks"></i> Zahtjevi <i class="fas fa-chevron-down dropdown-icon"></i>
                    </a>
                    <ul class="dropdown">
                        <li><a href="#" class="nav-button"><i class="fas fa-file-alt"></i> Zahtjev za narudžbu</a>
                        </li>
                        <li><a href="#" class="nav-button"><i class="fas fa-file-import"></i> Zahtjev za nabavu</a>
                        </li>
                    </ul>
                    </li>
                    <li><a href="#" class="nav-button"><i class="fas fa-calendar-alt"></i> Plan proizvodnje</a></li>
                    <li><a href="#" class="nav-button"><i class="fas fa-warehouse"></i> Skladište</a></li>
                    <li><a href="#" class="nav-button"><i class="fas fa-shipping-fast"></i> Transport</a></li>
                    <li><a href="#" class="nav-button"><i class="fas fa-file-invoice-dollar"></i> Računi</a></li>

                </ul>
            </nav>
        </div>

        <div class="iframe-container">
            <iframe name="outer-content-frame" src="{{ url_for('home') }}" class="outer-content-frame"></iframe>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</html>